<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Weather App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <section class="side_section">
      <div class="side_section_data" v-if="sectionDataOpen">
        <div class="data_seach">
          <button @click="sectionDataOpen = false">Seach for places</button>
        </div>
        <div class="data_information">
          <div class="data_information_condition">
            <img :src="dataLocation.current.condition.icon" :alt="dataLocation.current.condition.text" />
            <span>{{dataLocation.current.temp_c}}<span class="graus_celsius">ºc</span></span>
            <p>{{dataLocation.current.condition.text}}</p>
          </div>
          <div class="data_information_current">
            <p>Today - {{dataLocation.location.localtime | localTimeTransform}}</p>
            <p>{{location}}</p>
          </div>
        </div>
      </div>
      <div class="side_section_seach" v-else>
          <button @click="sectionDataOpen = true">X</button>
         <div>
          <form>
            <input type="text" v-model.lazy="inputValue" name="location" placeholder="search location" />
            <button @click.prevent="getDataForm">Search</button>
          </form>
         </div>
      </div>
    </section>
    <main class="section_varied_data">
      <div class="section_forecast">
        <ul>
          <li v-for="item in dataLocation.forecast.forecastday">
            <p class="section_forescast_date">{{item.date | dataTransform}}</p>
            <p><img :src="item.day.condition.icon" :alt="item.day.condition.text"></p>
            <p class="section_forescast_temp">
              <span>{{item.day.maxtemp_c | degreesCelsius}}</span>
              <span>{{item.day.mintemp_c | degreesCelsius}}</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="section_hightlights">
        <h1>Today's Hightlights</h1>
        <ul>
          <li>
            <h2>Wind status</h2>
            <p>{{dataLocation.current.wind_kph}} kph</p>
          </li>
          <li>
            <h2>Humidity</h2>
            <p>{{dataLocation.current.humidity}}%</p>
          </li>
          <li>
            <h2>Visibility</h2>
            <p>{{dataLocation.current.vis_miles}} miles</p>
          </li>
          <li>
            <h2>Air Pressure</h2>
            <p>{{dataLocation.current.pressure_mb}} mb</p>
          </li>
        </ul>
      </div>
    </main>
  </div>

  <script src="./app.js"></script>
</body>
</html>