* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #100E1D;
  font-family: 'Raleway', sans-serif;
}

#app {
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
}

.side_section {
  background: #1E213A;
  padding: 42px 46px 52px 46px;
}
.data_seach button {
  background: #6E707A;
  box-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
  color: #E7E7EB;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 5px 10px;
  cursor: pointer;
}
.data_information {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.data_information_condition img {
  width: 150px;
  margin: 0 auto;
}
.data_information_condition span,
.data_information_condition p {
  margin-top: 30px;
  text-align: center;
}
.data_information_condition span {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #E7E7EB;
}
.data_information_condition span.graus_celsius {
  display: inline-block;
  font-size: 3rem;
  color: #A09FB1;
}
.data_information_condition p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #A09FB1;
}
.data_information_current p {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #88869D;
  font-weight: 500;
  text-align: center;
}
.data_information_current p + p {
  margin-top: 5px;
}
.side_section_seach {
  position: relative;
}

.side_section_seach > button {
  color: #E7E7EB;
  background: transparent;
  border: none;
  font-size: 1.125rem;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  padding: 10px;
}
.side_section_seach form {
  padding-top: 45px;
  display: flex;
  gap: 10px;
}
.side_section_seach form input {
  border: 1px solid #E7E7EB;
  background: transparent;
  padding: 10px;
  color: #616475;
}
.side_section_seach form button {
  background: #3C47E9;
  font-size: 1rem;
  color: #E7E7EB;
  font-weight: 600;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.section_varied_data {
  background: #100E1D;
  padding: 100px 123px 100px 154px;
}
.section_forecast ul {
  width: max-content;
  display: flex;
  gap: 26px;
}
.section_forecast li {
  background: #1E213A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.section_forescast_date {
  font-size: 1rem;
  font-weight: 500;
  color: #E7E7EB;
  text-align: center;
}
.section_forecast_temp {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.section_forescast_temp span:first-child {
  color: #E7E7EB;
  margin-right: 16px;
}
.section_forescast_temp span:last-child {
  color: #A09FB1;
}
.section_hightlights {
  margin-top: 60px;
}
.section_hightlights h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #E7E7EB;
  margin-bottom: 32px;
}
.section_hightlights ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}
.section_hightlights ul li {
  background: #1E213A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.section_hightlights h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #E7E7EB;
}
.section_hightlights p {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  color: #E7E7EB;
  margin-top: 6px;
}